{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}


{% block content %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Results</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                {% for rs in books %}
                <div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> <a  href="{% url 'book_detail' rs.id rs.slug%}">Quick view</a> </button>
							<img src="{{rs.Image.url}}" alt="" style="height: 100px; height: 300px">
						</div>
						<div class="product-body">
							<h3 class="product-price">TL {{ rs.price }}</h3>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a href="{% url 'book_detail' rs.id rs.slug%}">{{ rs.title}}</a></h2>
                            <h2 class="product-name"><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}">{{ rs.category.title}}</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i><a href="addtocard/{{ rs.id }}">Add to Cart</a> </button>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}