{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Comments {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}


{% block content %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">User Comments</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                <div class="col-md-2">
                    <div class="billing-details">
                        {% include "user_panel.html" %}

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h3 class="title">User Information</h3>
                        </div>
                        <div >
                          <table class="shopping-cart-table table">
								<thead>
                                    <tr>
                                        <th class="text-center">Rate</th>
                                        <th class="text-center">Book</th>
                                        <th class="text-center">Subject</th>
                                        <th class="text-center">Comment</th>
                                        <th class="text-center">Date</th>
                                    </tr>
								</thead>
                              {% for rs in comments %}
								<tbody>
                                    <tr>
										<th class="text-center">{{ rs.rate }}</th>
                                        <th class="text-center">
                                            <a href="/book/{{ rs.book_id }}/{{ rs.book.slug }}">
                                            {{ rs.book.title }}
                                            </a>
                                        </th>
                                        <th class="text-center">{{ rs.subject }}</th>
                                        <th class="text-center">{{ rs.comment }}</th>
                                        <th class="text-center">{{ rs.create_at }}</th>
                                        <th class="text-center">
                                            <a class="main-btn icon-btn" href="/user/deletecomments/{{ rs.id }}" onclick="return confirm('Are you sure deleted?')">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </tbody>
                              {% endfor %}
                           </table>
                        </div>

                    </div>
                </div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}